@mixin affordable-deliver-max-1024(){
    #affordable .mobi, #deliver .mobi{
        top: 10%;
        max-width: 30%;
        position: absolute;
    }
}

@mixin affordable-deliver-max-767(){
    #affordable h2, #deliver h2{
        margin: 30px 0 13px 0px;
    }

    #affordable .mobi, #deliver .mobi{
        bottom: unset;
        right: auto;
        left: 25%;
        top: 60%;
        width: 100%;
        max-width: 70%;
    }
}

@mixin affordable-deliver-max-420(){
    #affordable .mobi, #deliver .mobi{
        top: 65%;
        left: 15%;
    }
}