@mixin deliver-max-1024() {
    #deliver {
        background-image: url(../images/tablet-deliver.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        position: relative;
        margin-bottom: 15rem;
    }

    #deliver{
        background-image: url(../images/tablet-deliver.jpg);
    }

    #deliver h2{
        color: #fff;
    }

    #deliver .desktop-container{
        display: none;
    }
}

@mixin deliver-max-767() {
    #deliver{
        margin-bottom: 35rem;
        padding: 60px 0 80px;
    }
}

@mixin deliver-max-420(){
    #deliver{
        margin-bottom: 25rem;
    }
}