#qrcode .img-qrcode {
    object-fit: contain;
}

.app-desc .mobile{
    display: none;
}

.app-desc h2{
    margin-bottom: 30px;
}

.app-desc ul{
    list-style-type: none;
    padding: 0;
}

@mixin qrcode-min-768(){    
    .app-desc{
        padding: 0 100px;
    }

    .app-desc li:nth-child(1) {
        margin-right: 10px;
    }
}

@mixin qrcode-max-767(){
    #qrcode{
        text-align: center;
    }

    #qrcode .app-desc{
        margin: 20px 0;
    }

    #qrcode .app-group li{
        margin-bottom: 20px;
    }

    #qrcode .app-desc .desktop, #qrcode .img-qrcode{
        display: none;
    }

    #qrcode .app-desc .mobile{
        display: block;
    }

    #qrcode .app-group li img{
        width: 150px;
    }
}