.owl-nav button.disabled {
    display: none;
}

.owl-nav button {
    display: block;
}

button.owl-next {
    margin-left: auto;
}

@mixin owl-carousel-max-600() {
    .owl-carousel .owl-item img {
        max-width: 320px;
        margin: auto;
    }
}